@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #2d499d !important;
}
.bg-success {
  background-color: #499d2d !important;
}
.bg-info {
  background-color: #2d819d !important;
}
.bg-warning {
  background-color: #d5daeb !important;
}
.bg-danger {
  background-color: #090e1f !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #2d499d !important;
  border-color: #2d499d !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #1c2d62 !important;
  border-color: #1c2d62 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1c2d62 !important;
  border-color: #1c2d62 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #9d2d49 !important;
  border-color: #9d2d49 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #621c2d !important;
  border-color: #621c2d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #621c2d !important;
  border-color: #621c2d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #2d819d !important;
  border-color: #2d819d !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #1c5062 !important;
  border-color: #1c5062 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1c5062 !important;
  border-color: #1c5062 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #499d2d !important;
  border-color: #499d2d !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #2d621c !important;
  border-color: #2d621c !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2d621c !important;
  border-color: #2d621c !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #d5daeb !important;
  border-color: #d5daeb !important;
  color: #3e4e83 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #3e4e83 !important;
  background-color: #a1acd2 !important;
  border-color: #a1acd2 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #3e4e83 !important;
  background-color: #a1acd2 !important;
  border-color: #a1acd2 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #090e1f !important;
  border-color: #090e1f !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #16244e;
  color: #16244e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #2d499d;
  border-color: #2d499d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2d499d !important;
  border-color: #2d499d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #4e1624;
  color: #4e1624;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #9d2d49;
  border-color: #9d2d49;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #9d2d49 !important;
  border-color: #9d2d49 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #16404e;
  color: #16404e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #2d819d;
  border-color: #2d819d;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2d819d !important;
  border-color: #2d819d !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #244e16;
  color: #244e16;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #499d2d;
  border-color: #499d2d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #499d2d !important;
  border-color: #499d2d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #909dca;
  color: #909dca;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #3e4e83;
  background-color: #d5daeb;
  border-color: #d5daeb;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #3e4e83 !important;
  background-color: #d5daeb !important;
  border-color: #d5daeb !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #090e1f;
  border-color: #090e1f;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #090e1f !important;
  border-color: #090e1f !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #2d499d !important;
}
.text-secondary {
  color: #9d2d49 !important;
}
.text-success {
  color: #499d2d !important;
}
.text-info {
  color: #2d819d !important;
}
.text-warning {
  color: #d5daeb !important;
}
.text-danger {
  color: #090e1f !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #16244e !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #4e1624 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #244e16 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #16404e !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #909dca !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #499d2d;
}
.alert-info {
  background-color: #2d819d;
}
.alert-warning {
  background-color: #d5daeb;
}
.alert-danger {
  background-color: #090e1f;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2d499d;
  border-color: #2d499d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #2d499d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #738cd7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #8cd773;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #73bed7;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a7b6e6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffffff;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffffff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffffff;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #2d499d;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #2d499d;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #2d499d;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2d499d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: contrast(currentColor, #000000, #ffffff, 30%);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #2d499d;
}
.cid-rnRzko42li .nav-item:focus,
.cid-rnRzko42li .nav-link:focus {
  outline: none;
}
.cid-rnRzko42li .nav-dropdown .dropdown-menu {
  padding-top: 0;
}
.cid-rnRzko42li .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rnRzko42li .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rnRzko42li .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rnRzko42li .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rnRzko42li .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0em 0em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rnRzko42li .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rnRzko42li .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rnRzko42li .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rnRzko42li .navbar .navbar-collapse {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: calc(100vh - 61px);
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 1;
}
.cid-rnRzko42li .navbar .navbar-collapse > .container {
  height: 100%;
}
.cid-rnRzko42li .navbar .navbar-collapse.show,
.cid-rnRzko42li .navbar .navbar-collapse.collapsing {
  display: -webkit-flex;
}
.cid-rnRzko42li .navbar .navbar-collapse .img-column img {
  width: 100%;
}
.cid-rnRzko42li .navbar .navbar-collapse .text-column {
  overflow: auto;
  max-height: calc(100vh - 7rem);
}
.cid-rnRzko42li .navbar .navbar-collapse .contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cid-rnRzko42li .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rnRzko42li .navbar.collapsed .dropdown-menu {
  text-align: inherit;
  background: transparent !important;
}
.cid-rnRzko42li .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rnRzko42li .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rnRzko42li .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rnRzko42li .navbar.collapsed ul.navbar-nav {
  word-break: break-word;
}
.cid-rnRzko42li .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: inherit;
}
.cid-rnRzko42li .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rnRzko42li .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rnRzko42li .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rnRzko42li .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rnRzko42li .navbar-brand {
  min-height: 61px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rnRzko42li .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rnRzko42li .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rnRzko42li .dropdown-item.active,
.cid-rnRzko42li .dropdown-item:active {
  background-color: transparent;
}
.cid-rnRzko42li .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rnRzko42li .nav-dropdown .link {
  margin: .2em 0em;
}
.cid-rnRzko42li .nav-dropdown .link.dropdown-toggle {
  margin: 0;
}
.cid-rnRzko42li .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0em 0em;
  padding: 0.2em 0em;
}
.cid-rnRzko42li .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rnRzko42li .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rnRzko42li .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rnRzko42li ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rnRzko42li .navbar-buttons {
  text-align: inherit;
}
.cid-rnRzko42li button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rnRzko42li button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #2d499d;
}
.cid-rnRzko42li button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rnRzko42li button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rnRzko42li button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rnRzko42li button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rnRzko42li nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rnRzko42li nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rnRzko42li nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rnRzko42li nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rnRzko42li .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rnRzko42li .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rnRzko42li .icons-menu {
  text-align: inherit;
}
.cid-rnRzko42li .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-rnRzko42li .nav-link:hover,
.cid-rnRzko42li .dropdown-item:hover,
.cid-rnRzko42li .icons-menu .mbr-iconfont:hover {
  color: #499d2d !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rnRzko42li .navbar {
    height: 77px;
  }
  .cid-rnRzko42li .navbar.opened {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-rnRzko42li .navbar-collapse .img-column {
    display: none;
  }
  .cid-rnRzko42li .icons-menu,
  .cid-rnRzko42li .navbar-buttons,
  .cid-rnRzko42li .contact-block,
  .cid-rnRzko42li .text-column {
    text-align: center !important;
  }
}
.cid-rnRzko42li .icons-menu,
.cid-rnRzko42li .navbar-buttons,
.cid-rnRzko42li .contact-block,
.cid-rnRzko42li .text-column B {
  color: #090e1f;
}
.cid-rnRzpURRT6 {
  background-image: url("../../../assets/images/mbr-1920x1281.jpg");
}
.cid-rnRzpURRT6 H3 {
  color: #d5daeb;
}
.cid-rnRzpURRT6 .mbr-section-title,
.cid-rnRzpURRT6 .ornament {
  color: #ffffff;
}
.cid-rnRzpURRT6 .mbr-text,
.cid-rnRzpURRT6 .mbr-section-btn {
  color: #d5daeb;
}
.cid-rnRJIvXgrX {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-rnRJIvXgrX .mbr-text {
  margin: 0;
}
.cid-rnRJIvXgrX .text-element {
  padding: 2rem;
  background-color: #ffffff;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.cid-rnRJIvXgrX .row-element,
.cid-rnRJIvXgrX .image-element {
  padding: 0;
}
.cid-rnRJIvXgrX .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rnRJIvXgrX .image-element .img-wrap {
  width: 100% !important;
}
.cid-rnRJIvXgrX .image-element .img-wrap img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rnRJIvXgrX .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rnRJIvXgrX .carousel-item.active,
.cid-rnRJIvXgrX .carousel-item-next,
.cid-rnRJIvXgrX .carousel-item-prev {
  display: flex;
}
.cid-rnRJIvXgrX .carousel-indicators {
  left: 50%;
  margin: 20px auto 0;
  align-items: center;
}
.cid-rnRJIvXgrX .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #2d499d;
}
.cid-rnRJIvXgrX .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity .5s;
  background-color: #000000;
  font-size: 2rem;
  opacity: .5;
}
.cid-rnRJIvXgrX .carousel-indicators li:hover {
  opacity: 1;
}
.cid-rnRJIvXgrX .carousel-controls {
  display: none;
}
@media (max-width: 991px) {
  .cid-rnRJIvXgrX .carousel-controls {
    display: block;
  }
  .cid-rnRJIvXgrX .carousel-controls a {
    transition: opacity .5s;
    font-size: 2rem;
  }
  .cid-rnRJIvXgrX .carousel-controls a span {
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    background: #444444;
    opacity: .9;
  }
  .cid-rnRJIvXgrX .carousel-controls a:hover span {
    opacity: 1;
  }
  .cid-rnRJIvXgrX .carousel-indicators {
    display: none;
  }
}
@media (max-width: 540px) {
  .cid-rnRJIvXgrX .text-element {
    padding: 1rem;
  }
  .cid-rnRJIvXgrX .carousel-controls {
    display: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rnRJIvXgrX .image-element {
    min-width: 50%;
  }
  .cid-rnRJIvXgrX .media-container-row {
    width: 100%;
  }
}
.cid-rnRBkDYxSB {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  transition: background-color 0.3s ease-in-out;
}
.cid-rnRBkDYxSB:hover {
  background-color: #2d819d;
}
.cid-rnRBkDYxSB .mbr-section-title {
  margin: 0;
}
.cid-rnRBkDYxSB .card-wrapper {
  z-index: 3;
}
.cid-rnRBkDYxSB .full-link {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-rnRBkDYxSB .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-rnRBw4sW5E {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rnRBw4sW5E .mbr-text {
  color: #444444;
}
.cid-rnRBw4sW5E .card-title {
  color: #f9e2af;
}
.cid-rnRBw4sW5E .card .card-img span {
  color: #000000;
  font-size: 60px;
}
@media (max-width: 767px) {
  .cid-rnRBw4sW5E .card {
    padding-bottom: 2rem !important;
  }
}
.cid-rnXCsckni8 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-rnXCsckni8 .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  writing-mode: vertical-rl;
}
.cid-rnXCsckni8 .text-block {
  position: relative;
  z-index: 0;
}
.cid-rnXCsckni8 .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-rnXCsckni8 .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rnXCsckni8 .box {
  right: 20%;
}
.cid-rnXCsckni8 .text-box {
  right: 0;
}
.cid-rnXCsckni8 .mbr-section-title,
.cid-rnXCsckni8 .mbr-section-text {
  margin-right: 31%;
  margin-right: 0;
}
@media (max-width: 991px) {
  .cid-rnXCsckni8 .text-box {
    display: none;
  }
  .cid-rnXCsckni8 .mbr-section-title,
  .cid-rnXCsckni8 .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rnXCsckni8 .box {
    display: none;
  }
  .cid-rnXCsckni8 .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rnXCsckni8 .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rnXCsckni8 .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rnXCBIAHrU {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rnXCBIAHrU .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rnRzuSaIOB {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rnRzuSaIOB .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.cid-rnRzuSaIOB .text-block {
  position: relative;
  z-index: 0;
}
.cid-rnRzuSaIOB .box {
  width: 25%;
  height: 40%;
  background: #2d819d;
  position: absolute;
  top: 4%;
}
.cid-rnRzuSaIOB .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rnRzuSaIOB .box {
  right: 20%;
}
.cid-rnRzuSaIOB .text-box {
  right: 0;
}
.cid-rnRzuSaIOB .mbr-section-title,
.cid-rnRzuSaIOB .mbr-section-text {
  margin-right: 31%;
}
@media (max-width: 991px) {
  .cid-rnRzuSaIOB .text-box {
    display: none;
  }
  .cid-rnRzuSaIOB .mbr-section-title,
  .cid-rnRzuSaIOB .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rnRzuSaIOB .box {
    display: none;
  }
  .cid-rnRzuSaIOB .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rnRzuSaIOB .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rnRzuSaIOB .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rnRzZdpGNn {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #499d2d;
  transition: background-color 0.3s ease-in-out;
}
.cid-rnRzZdpGNn:hover {
  background-color: #9d2d49;
}
.cid-rnRzZdpGNn .mbr-section-title {
  margin: 0;
}
.cid-rnRzZdpGNn .card-wrapper {
  z-index: 3;
}
.cid-rnRzZdpGNn .full-link {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-rnRzZdpGNn .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-rnRALKq5TA {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rnRALKq5TA .content-block {
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  background-color: #efefef;
  transition: all 0.4s ease-in-out;
}
.cid-rnRALKq5TA .content-block .mbr-text {
  margin: 0;
}
.cid-rnRALKq5TA .content-section {
  height: 100%;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
.cid-rnRALKq5TA .image-wrap:hover img {
  opacity: 1;
  -webkit-transform: translateY(-4%);
  transform: translateY(-4%);
}
.cid-rnRALKq5TA .image-wrap:hover > .content-block {
  opacity: .6;
}
.cid-rnRALKq5TA .image-wrap {
  width: 100%;
  height: 100%;
}
.cid-rnRALKq5TA .image-wrap img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.cid-rnRALKq5TA h4.mbr-text a {
  display: block;
  min-width: 100%;
}
.cid-rnRBGgDuSB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rnRBGgDuSB *:focus {
  outline: none;
  box-shadow: none;
}
.cid-rnRBGgDuSB .form-control {
  width: 100%;
  background: #499d2d;
  border-radius: 0;
  border: none;
  min-height: 47px;
}
.cid-rnRBGgDuSB .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-rnRBGgDuSB .form-control::-moz-placeholder {
  color: #ffffff;
}
.cid-rnRBGgDuSB .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.cid-rnRBGgDuSB .form-control:-moz-placeholder {
  color: #ffffff;
}
.cid-rnRBGgDuSB input.form-control {
  padding: .5rem;
}
.cid-rnRBGgDuSB .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af;
  border-radius: 50%;
}
.cid-rnRBGgDuSB .soc-item:hover {
  opacity: .5;
}
.cid-rnRBGgDuSB .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-rnRBGgDuSB .days-column,
.cid-rnRBGgDuSB .hours-column {
  display: inline-block;
}
.cid-rnRBGgDuSB .days-column span,
.cid-rnRBGgDuSB .hours-column span {
  display: block;
}
@media (max-width: 767px) {
  .cid-rnRBGgDuSB .days-column {
    padding-right: 0 !important;
  }
  .cid-rnRBGgDuSB .hours-column {
    max-width: 50% !important;
  }
  .cid-rnRBGgDuSB .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-rnRBGgDuSB .contacts-title,
.cid-rnRBGgDuSB .contacts-block {
  color: #2d499d;
}
.cid-rnRBGgDuSB .form-title,
.cid-rnRBGgDuSB .btn-row {
  color: #2d499d;
}
.cid-rnXCNosEsx {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rnXCNosEsx .form-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rnXCNosEsx .content {
    text-align: center;
  }
  .cid-rnXCNosEsx .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rnXCNosEsx .img-logo img {
  height: 6rem;
}
.cid-rnXCNosEsx .form-group,
.cid-rnXCNosEsx .input-group-btn {
  padding: 0;
}
.cid-rnXCNosEsx .form-control {
  font-size: .75rem;
  text-align: center;
  min-width: 150px;
}
.cid-rnXCNosEsx .input-group-btn .btn {
  padding: .75rem 1.5625rem !important;
  margin-left: .625rem;
  text-transform: none;
  color: #fff;
  text-align: center;
}
.cid-rnXCNosEsx .copyright .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rnXCNosEsx .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rnXCNosEsx .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-rnXCNosEsx .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rnXCNosEsx .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-rnXCNosEsx .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rnXCNosEsx .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rnXCNosEsx .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rnXCNosEsx .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-rnXCNosEsx .foot-logo {
    text-align: center !important;
  }
  .cid-rnXCNosEsx .foot-title {
    text-align: center !important;
  }
  .cid-rnXCNosEsx .mbr-text {
    text-align: center !important;
  }
  .cid-rnXCNosEsx .form-group {
    margin: 0;
  }
}
